@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: lightgray;
}

header {
    background-color: rgb(138, 137, 137);
}

header > h1 {
    text-align: center;
}

i#menu {
    background-color: rgb(53, 53, 53);
    color: white;
    display: block;
    padding: 5px 0px 5px 0px;
    text-align: center;
    cursor: pointer;
}


header > menu {
    background-color: rgb(92, 91, 91);
    display: none;
}

menu > ul {
    list-style-type: none;
    
}

header > menu > ul > li > a{
    text-decoration: none;
    display: block;
    color: white;
    padding-bottom: 10px;
    border-top: 1px solid rgb(161, 160, 160);
    text-align: center;
    padding-top: 10px;

}

main {
    padding: 10px 10px 0px 10px;
    width: 90vw;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

main > article > h2 {
    padding: 10px;
    text-align: center;
}

main > article > p {
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 10px;
}